.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

**/node_modules/
**/.next/
**/vendor/
**/build/
**/dist/
**/.DS_Store
**/*.sqlite
**/*.sqlite-*
**/.git-backup/
*.tsbuildinfo
npm-debug.log*
